.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a{
  color: #2f2e31;
}

.sticky .sticky-inner{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.sticky-wrapper {
  position: relative;
  height: 3rem;
}